<main class="pb-3" role="main">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
    </div>

    <div class="row">
        <div class="col-md-2">
        </div>

        <div class="col-md-4 center">
            <h2>Project Overview</h2>
            <p>
                Web container for Object Detection Project.
            </p>
            <p>
                This simple project showcases end-2-end how to detect objects - <code> birds </code> - in an outdoor environment using various external image detector APIs
            </p>
            <p>
                The outdoor environement selected was the <code> back garden! </code> of my house
            </p>
            <p>
                The various cognitive API/libraries used were: Google, Azure, mobileNet, Yolo Detector.
            </p>
            <p>
                Base filtering was undertaken with OpenCV 2.0
            </p>
            <p>
                Scalability is achieved using Azure Event Hub feature at the messaging level and utilising docker images at the infrastructure level
            </p>
        </div>

        <div class="col-md-1">
        </div>

        <div class="col-md-2 center" style="padding: 200px 0;">
            <div class="cubespinner">
                <div class="face1"><img width="120" height="120" alt="SRC" src="/images/color-magpi-2.jpg"></div>
                <div class="face2"><img width="120" height="120" alt="SRC" src="/images/color-magpi.jpg"></div>
                <div class="face3"><img width="120" height="120" alt="SRC" src="/images/front-brown.jpg"></div>
                <div class="face4"><img width="120" height="120" alt="SRC" src="/images/side-brown.jpg"></div>
                <div class="face5"><img width="120" height="120" alt="SRC" src="/images/side-pigeon-2.jpg"></div>
                <div class="face6"><img width="120" height="120" alt="SRC" src="/images/side-pigeon.jpg"></div>
            </div>
        </div>
    </div>
</main>
