
<main class="pb-3" role="main">

<h1>Object Detection </h1>
<h2>Experiments: Display All Collection Results </h2>
<hr/>

<div class="row">
    <div class="col-md-1">
        <label class="control-label">  </label>
    </div>
    <div class="col-md-2 align-middle">
        <button id="btnLoadCollections" class="btn btn-primary align-middle" >Load Collections</button>
    </div>
    <div class="col-md-2 text-right ">
        <label class="control-label vcenter">Filter:</label>
    </div>
    <div class="col-md-2 align-middle">
        <input class="form-control btn-block align-middle" id="txtFilterKey" value="MessageId" />
    </div>
    <div class="col-md-2 text-right ">
        <label class="control-label vcenter">Filter Value: </label>
    </div>
    <div class="col-md-2 align-middle">
        <input class="form-control btn-block align-middle" id="txtFilterValue" value='null' />
    </div>
    <div class="col-md-1">
        <label class="control-label">  </label>
    </div>
</div>



<table class="table table-condensed borderless">
        <thead>
            <tr>
                <th width="50%"></th>
                <th width="50%"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <label class="col-md-12 control-label">Select Experiment:</label>
                </td>
                <td>
                    <select name="ExperimentCollection" id="ExperimentCollection" class="form-control col-md-12"></select>
                </td>
            </tr>
    </table>
    
    <div id="dynamicTable">
        <table class="table">
            <thead>
                <tr>
                    <th width="30%">
                        Id
                    </th>
                    <th width="30%">
                        Key
                    </th>
                    <th width="30%">
                        Some Details
                    </th>
                    <th>Action 1</th>
                    <th>Action 2</th>
                </tr>
            </thead>
            <tbody id="dynamicExperimentData"></tbody>
        </table>
    </div>
    
    
    <div id="textDiv">
         Result will be displayed here
    </div>
</main>
