@{
    ViewData["Title"] = "Home Page";
}


<div class="row">

    @*This still has issues in terms of size of images*@

    @*<div class="col-md-4">
            <div id="stage" style="padding: 200px 0; height: 120px;">
                <div id="spinner" style="-webkit-transform-origin: 180px 0 0;">
                    <img style="-webkit-transform: rotateY(0deg) translateX(180px); padding: 0 0 0 160px;" src="~/images/color-magpi-2.jpg" width="200" height="120" alt="">
                    <img style="-webkit-transform: rotateY(-72deg) translateX(180px); padding: 0 0 0 147px;" src="~/images/color-magpi.jpg" width="213" height="120" alt="">
                    <img style="-webkit-transform: rotateY(-144deg) translateX(180px); padding: 0 0 0 120px;" src="~/images/front-brown.jpg" width="240" height="120" alt="">
                    <img style="-webkit-transform: rotateY(-216deg) translateX(180px); padding: 0 0 0 147px;" src="~/images/side-brown.jpg" width="213" height="120" alt="">
                    <img style="-webkit-transform: rotateY(-288deg) translateX(180px); padding: 0 0 0 122px;" src="~/images/side-pigeon-2.jpg" width="238" height="120" alt="">
                </div>
            </div>
        </div>*@

    <div class="col-md-2">
    </div>

    <div class="col-md-4 center">
        <h2>Project Overview</h2>
        <p>
            Web container for Object Detection Project.
        </p>
        <p>
            This simple project showcases end-2-end how to detect objects - <code> birds </code> - in an outdoor environment using various expeternal image detector APIs
        </p>
        <p>
            The outdoor environement selected was the <code> back garden </code> of my house
        </p>
        <p>
            Amongst the various image detector API/libraries used were: Google, Azure, mobileNet, Yolo Detector.
        </p>
        <p>
            Base filtering was undertaken with OpenCV 2.0
        </p>
    </div>

    <div class="col-md-1">

    </div>

    <div class="col-md-2 center" style="padding: 200px 0;">
        <div class="cubespinner">
            <div class="face1"><img src="~/images/color-magpi-2.jpg" alt="SRC" height="120" width="120" /></div>
            <div class="face2"><img src="~/images/color-magpi.jpg" alt="SRC" height="120" width="120" /></div>
            <div class="face3"><img src="~/images/front-brown.jpg" alt="SRC" height="120" width="120" /></div>
            <div class="face4"><img src="~/images/side-brown.jpg" alt="SRC" height="120" width="120" /></div>
            <div class="face5"><img src="~/images/side-pigeon-2.jpg" alt="SRC" height="120" width="120" /></div>
            <div class="face6"><img src="~/images/side-pigeon.jpg" alt="SRC" height="120" width="120" /></div>
        </div>
    </div>

</div>






