@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    @*<ul class="nav navbar-nav navbar-left">
        <li><a asp-page="/Index">Project Menu</a></li>
    </ul>



    var userEmail = @UserManager.GetUserName(User);
    var userDetails = @UserManager.Users.SingleOrDefault(m => m.Email == @userEmail);

    if (User.IsInRole("Admin"))
    {*@
<ul class="nav navbar-nav navbar-left">
    <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle">Project Dashboard <b class="caret"></b></a>
        <ul role="menu" class="dropdown-menu">
            <li><a asp-area="Dashboard" asp-controller="Dashboard" asp-action="Index">Index</a></li>
            <li><a asp-area="Dashboard" asp-controller="Dashboard" asp-action="Results">Review all Results</a></li>
            <li><a asp-area="Dashboard" asp-controller="Dashboard" asp-action="Actions">Pending Actions</a></li>
            <li class="divider"></li>
            <li><a asp-area="Dashboard" asp-controller="Dashboard" asp-action="PerformanceAndScale">Performance and Scale</a></li>
            <li><a asp-area="Dashboard" asp-controller="Dashboard" asp-action="OperationsAndMonitor">Monitoring and Log</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle">Unit Actions<b class="caret"></b></a>
        <ul role="menu" class="dropdown-menu">
            <li><a asp-area="UnitAction" asp-controller="UnitAction" asp-action="SinglePageView">Review All Experiments</a></li>
            <li><a asp-area="UnitAction" asp-controller="UnitAction" asp-action="CopyFilesAndCreateExperiment">Create Experiments</a></li>
            <li class="divider"></li>
            <li><a asp-area="UnitAction" asp-controller="UnitAction" asp-action="CreateViewUpdateMask">Mask Images</a></li>
            <li><a asp-area="UnitAction" asp-controller="UnitAction" asp-action="SelectExperimentAndLabelImages">Label Images</a></li>
            <li><a asp-area="UnitAction" asp-controller="UnitAction" asp-action="SelectExperimentDisplayImagesAndLabel">Display Multiple Images and Label</a></li>
            <li class="divider"></li>
            <li><a asp-area="UnitAction" asp-controller="UnitAction" asp-action="ImageMaskTag">Image Mask Images</a></li>
            <li><a asp-area="UnitAction" asp-controller="UnitAction" asp-action="DisplayAndLabelSelectedImages">Display and Label Images</a></li>
        </ul>
    </li>
</ul>


    //}


    @*<ul class="nav navbar-nav">
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
        </ul>*@

    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
    </ul>
}