
@{
    ViewData["Title"] = "SinglePageView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Display All Collection Results</h2>

@*@if (ViewBag != null)
{
    @if (ViewBag.ExperimentCollectionVB != null)
    {
        @foreach(var item in ViewBag.ExperimentCollectionVB)
        {
            @item.Text
            @item.Value
        }
    }
}*@

<table class="table table-condensed borderless">
    <thead>
        <tr>
            <th width="50%"></th>
            <th width="50%"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <label class="col-md-12 control-label">Select Experiment:</label>
            </td>
            <td>
                <select name="ExperimentCollection" id="ExperimentCollection" class="form-control col-md-12" asp-items="ViewBag.ExperimentCollectionVB"></select>
                @*<input id="ExperimentSelectedValuePassed" name="ExperimentSelectedValuePassed" hidden="hidden" value="@ViewBag.SelectedSubjectIdPassed" />*@
            </td>
        </tr>
</table>

<div id="dynamicTable">
    <table class="table">
        <thead>
            <tr>
                <th width="30%">
                    Provider
                </th>
                <th width="30%">
                    Key
                </th>
                <th width="30%">
                    Execution Time
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="dynamicExperimentData"></tbody>
    </table>
</div>


<div id="textDiv">
     Result will be displayed here
</div>



@section Scripts {


    <script>
        $(function () // called when the function is ready
        {
            // Caching elements and values
            var SelectedValue = $('#ExperimentCollection option:selected').val()
            if (SelectedValue != null) {
                console.log(SelectedValue)
                onExperimentCollChanged();
            }
            else {
            }
            // setup Event Handlers
            $('#ExperimentCollection').on('change', onExperimentCollChanged);
        });

        // Combo box changed event handler
        function onExperimentCollChanged() {
            console.log("onExperimentCollChanged");
            var SelectedValue = $('#ExperimentCollection option:selected').val();
            PopulateDocumentArea(SelectedValue)
        }

        function PopulateDocumentArea(SelectedValue) {
            var dataVal = '{"collectionLink":"' + SelectedValue + '"}';
            console.log(dataVal);
            callOtherDomain(dataVal)
        }

            ////invoke the Ajax call now
            //$.ajax({
            //    url: '/Experiment/GetDocumentRecords/0',
            //    //url: 'http://localhost:5000/comsosDB/v1.0/documents',
            //    type: 'POST',
            //    cache: false,
            //    contentType: "application/json",  //"application/json;charset=utf-8"
            //    data: dataVal,
            //    dataType: "json",
            //    async: false,                       // This gives a warning that SCRIPT7016: SCRIPT7016: Use of XMLHttpRequest with the synchronous flag set to true is deprecated due to its impact on user-perceived site performance.
            //    success: function (result) {
            //        if (result != null) {
            //            //var json = $.parseJSON(data);
            //            //console.log(json);
            //            var html = '<tr>';
            //            console.log(result);
            //            $.each(result, function (i, item) {
            //                var defId = item["_self"]

            //                html += '<tr id="' + defId + '">';
            //                html += '<td>' + '<textarea class="col-md-12 form-control nopadding" rows="2" type="text" id="' + defId + 'id">' + item["id"] + '</textarea></td>';
            //                html += '<td>' + '<textarea class="col-md-12 form-control nopadding" rows="2" type="text" id="' + defId + 'Self">' + item["_self"] + '</textarea></td>';
            //                html += '<td>' + '<textarea class="col-md-12 form-control nopadding" rows="2" type="text" id="' + defId + 'ElapsedTime">' + item["elapsedTime"] + '</textarea></td>';
            //                html += '<td><input type="button" value="Details" class="btn btn-warning" id="' + defId + 'btnDetails" onclick="btnDetails(' + defId + ')"/></td>';
            //                html += '</tr>';

            //            });
            //            html += '</tr>';
            //            $('#dynamicExperimentData').append(html);
            //        }
            //    },
            //    error: function (data) {
            //        console.log("ERROR IN JSON");
            //        console.log(data.responseText);
            //        var json = $.parseJSON(data.responseText);
            //        console.log(json);
            //        alert(json.error);
            //    }
            //})
        //    // replace default cursor
        //    $("body").css("cursor", "default");
        //}


        var invocation = new XMLHttpRequest();
        var url = 'http://localhost:5000/comsosDB/v1.0/documents';
        var invocationHistoryText;
        

        function callOtherDomain(dataVal) {
            var body = dataVal;

            console.log(dataVal);

            if (invocation) {
                invocation.open('POST', url, true);
                invocation.setRequestHeader('Content-Type', 'application/json');
                invocation.onreadystatechange = handler;
                invocation.send(body);
            }
            else {
                invocationHistoryText = "No Invocation TookPlace At All";
                UpdateTextDivObject(invocationHistoryText);
            }

        }
        function handler(evtXHR) {
            if (invocation.readyState == 4) {
                if (invocation.status == 200) {
                    var response = invocation.responseText;
                    ProcessJsonResponse(response); 
                    UpdateTextDivObject(response); 
                }
                else {
                    var AppendedText = "Invocation Errors Occured " + invocation.readyState + " and the status is " + invocation.status;
                    UpdateTextDivObject(AppendedText);
                }
            }
            else {
                dump("currently the application is at" + invocation.readyState);
            }
        }
        function UpdateTextDivObject(displayString) {
            var temp = document.createTextNode(displayString); 
            var textDiv = document.getElementById("textDiv");
            textDiv.appendChild(temp);
        }
        function ProcessJsonResponse(response) {

            if (response != null) {
                $('#dynamicExperimentData').empty();
                var sv = $('#ExperimentCollection option:selected').val();
                var svEncoded = encodeURIComponent(sv);
                console.log(svEncoded);

                var json = $.parseJSON(response);
                result = json["result"];
                var html = '<tr>';
                $.each(result, function (i, item) {
                    var defId = item["_self"]
                    var defIdEncoded = encodeURIComponent(defId);
                    var idProvider = item["id"]

                    
                    //var dataVal = $.validator.format('"/Experiment/{0}/{1}/?docId={2}&collectionId={3}"', [idProvider, 0, defIdEncoded, svEncoded]);
                    var dataVal = $.validator.format('"/Experiment/GetDetails/?provider={0}&docId={1}&collectionId={2}"', [idProvider, defIdEncoded, svEncoded]);

                    console.log(dataVal);



                    html += '<tr id="' + defId + '">';
                    html += '<td>' + '<textarea class="col-md-12 form-control nopadding" rows="2" type="text" id="' + defId + '__id">' + item["id"] + '</textarea></td>';
                    html += '<td>' + '<textarea class="col-md-12 form-control nopadding" rows="2" type="text" id="' + defId + '__Self">' + item["_self"] + '</textarea></td>';
                    html += '<td>' + '<textarea class="col-md-12 form-control nopadding" rows="2" type="text" id="' + defId + '__ElapsedTime">' + item["elapsedTime"] + '</textarea></td>';
                    //html += '<td><input type="button" value="Details" class="btn btn-warning" id="' + defId + '__btnDetails" onclick="showDetails(\'' + sv + '\',\'' + defId + '\',\'' + idProvider + '\')"/></td>';
                    html += '<td><a class="btn btn-xs btn-success" href=' + dataVal + '>Show Details</a></td>';
                    html += dataVal;
                    html += '</tr>';

                });
                html += '</tr>';
                $('#dynamicExperimentData').append(html);
            }
        }
        function showDetails(CollectionId, Self, Provider) {
            var debugString = "CollectionID Passed = " + CollectionId + " , Self Passed = " + Self + "  , Provider passed = " + Provider;
            UpdateTextDivObject(debugString); 
            // next what? 
        }

        //]]>


    </script>




}
