
@{
    //ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Object Detection Project Dashboard</h2>

<div id="devOperations">
    <table class="table table-condensed" align="center">
        <thead>

            <tr valign="middle">
                <th align="center" width="10%"> Experiment Run Date</th>
                <th align="center" width="10%"> Number of Images Captured</th>
                <th align="center" width="10%"> Source Folder Size</th>
                <th align="center" width="10%"> Destination Experiment Folder Exist</th>
                <th align="center" width="10%"> Number of Images in destination folder</th>
                <th align="center" width="10%"> Image Size Destination Folder</th>
                <th align="center" width="10%"> Mask file exists</th>
                <th align="center" width="10%"> Number of Images detected by OpenCV</th>
                <th align="center" width="10%"> Size of OpenCV images detected</th>
                <th align="center" width="10%"></th>
            </tr>
            <tr align="center" valign="middle">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><button id="btnRefresh" class="btn btn-success" onclick="btnRefreshHandler(this)">Refresh</button> </td>
                <td><button id="btnDestinationRefresh" class="btn btn-success" onclick="btnDestinationRefresh(this)">Destination Refresh</button> </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><label class="btn-block" id="lblResult"></label></td>
            </tr>
        </thead>

        <tbody id="dynamicTable">
        </tbody>
    </table>
</div>

@section Scripts {
<script>
    var _lastButton = [];
    var _lastButtonClass = [];

    function pushElement(elementID) {
        var element = document.getElementById(elementID);
        if (element) {
            _lastButton.push(element);
            _lastButtonClass.push(element.getAttribute("class"));
            element.setAttribute("class", "btn btn-default");
            $("body").css("cursor", "progress");
        }
    }

    function popElement() {
        var element = _lastButton.pop();
        var elementClass = _lastButtonClass.pop();
        if (element) {
            element.setAttribute("class", elementClass);
        }
        $("body").css("cursor", "default");
    }


    $(function () // called when the body is ready
    {
        console.log("Ready");
    });



    var invocationSourceFile = new XMLHttpRequest();
    var invocationDestinationFiles = new XMLHttpRequest();

    function btnRefreshHandler(obj) {

        var jsonData = {
            _sourceFileShareFolderName: 'linuxraspshare',
            _sourceDirectoryName: ['Share', 'backup'],
            _destinationFileShareFolderName: 'experiment-data',
            _destinationDirectoryName: 'object-detection',
            _outputFolderName: 'output',
            _fileExtensionFilter: '.jpg'
        };

        var updatedTagJson = JSON.stringify(jsonData);
        pushElement(obj.id);
        //InvokeWebAPIGeneric(invocationSourceFile, 'DashBoardGetAllFilesInfo', updatedTagJson, handlerGetAllExperiments);

        processSourceFileData(null);
    }

    function btnDestinationRefresh(obj) {
        var jsonData = {

            _destinationFileShareFolderName: 'experiment-data',
            _destinationDirectoryName: 'object-detection',
            _outputFolderName : 'output', 
            _fileExtensionFilter: '.jpg'
        };

        var updatedTagJson = JSON.stringify(jsonData);
        pushElement(obj.id);
        InvokeWebAPIGeneric(invocationDestinationFiles, 'DashBoardGetAllDestinationFilesInfo',
                                updatedTagJson,
                                handlerGetAllDestinationExperiments);
    }

    function InvokeWebAPIGeneric(invocationObj, urlAdd, dataval, handler) {
        var body = dataval;
        var url = 'http://localhost:5000/azureStorage/v1.0/' + urlAdd;

        if (invocationObj) {
            invocationObj.open('POST', url, true);
            invocationObj.setRequestHeader('Content-Type', 'application/json');
            invocationObj.onreadystatechange = handler;
            invocationObj.send(body);
        }
        else {
            $('#lblResult').html("No Invocation TookPlace At All");
        }
    }

    function handlerGetAllExperiments(evtXHR) {
        if (invocationSourceFile.readyState == 4) {
            if (invocationSourceFile.status == 200) {
                if (invocationSourceFile.response) {
                    processSourceFileData(invocationSourceFile.response);
                }
            }
            else {
                var AppendedText = " Invocation Errors Occured " + invocationSourceFile.readyState + " and the status is " + invocationSourceFile.status;
                $('#lblResult').html(AppendedText);
            }
            popElement();
        }
    }


    function handlerGetAllDestinationExperiments(evtXHR) {
        if (invocationDestinationFiles.readyState == 4) {
            if (invocationDestinationFiles.status == 200) {
                if (invocationDestinationFiles.response) {
                    processDestinationFileData(invocationDestinationFiles.response);
                }
            }
            else {
                var AppendedText = " Invocation Errors Occured " + invocationDestinationFiles.readyState + " and the status is " + invocationDestinationFiles.status;
                $('#lblResult').html(AppendedText);
            }
            popElement();
        }
    }


    function processSourceFileData(data) {

//    data = '\
//        {\
//            "elapsedTime": "705:421699",\
//                "result": [\
//                    {\
//                        "ExperimentName": "2018-04-27",\
//                        "Properties": [\
//                            741,\
//                            2507526130,\
//                            false,\
//                            0,\
//                            0,\
//                            false,\
//                            0,\
//                            0\
//                        ]\
//                    },\
//                    {\
//                        "ExperimentName": "2018-11-09",\
//                        "Properties": [\
//                            423,\
//                            1089753644,\
//                            true,\
//                            423,\
//                            1089753644,\
//                            true,\
//                            7,\
//                            55675\
//                        ]\
//                    },\
//                    {\
//                        "ExperimentName": "2018-11-10",\
//                        "Properties": [\
//                            342,\
//                            941190812,\
//                            true,\
//                            342,\
//                            941190812,\
//                            true,\
//                            16,\
//                            151651\
//                        ]\
//                    },\
//                    {\
//                        "ExperimentName": "2018-11-11",\
//                        "Properties": [\
//                            342,\
//                            939685314,\
//                            true,\
//                            342,\
//                            939685314,\
//                            true,\
//                            13,\
//                            117283\
//                        ]\
//                    },\
//                    {\
//                        "ExperimentName": "2018-11-12",\
//                        "Properties": [\
//                            342,\
//                            933233181,\
//                            true,\
//                            342,\
//                            933233181,\
//                            true,\
//                            4,\
//                            31831\
//                        ]\
//                    },\
//                    {\
//                        "ExperimentName": "2018-11-13",\
//                        "Properties": [\
//                            342,\
//                            931517451,\
//                            true,\
//                            342,\
//                            931517451,\
//                            true,\
//                            10,\
//                            100982\
//                        ]\
//                    },\
//                    {\
//                        "ExperimentName": "2018-11-14",\
//                        "Properties": [\
//                            342,\
//                            926429548,\
//                            true,\
//                            342,\
//                            926429548,\
//                            true,\
//                            11,\
//                            85022\
//                        ]\
//                    },\
//                    {\
//                        "ExperimentName": "2018-11-15",\
//                        "Properties": [\
//                            342,\
//                            834820215,\
//                            true,\
//                            342,\
//                            834820215,\
//                            true,\
//                            11,\
//                            109304\
//                        ]\
//                    },\
//                    {\
//                        "ExperimentName": "2018-11-16",\
//                        "Properties": [\
//                            342,\
//                            878778005,\
//                            true,\
//                            342,\
//                            878778005,\
//                            true,\
//                            3,\
//                            18349\
//                        ]\
//                    },\
//                    {\
//                        "ExperimentName": "2018-11-17",\
//                        "Properties": [\
//                            342,\
//                            930103584,\
//                            true,\
//                            342,\
//                            930103584,\
//                            true,\
//                            15,\
//                            172621\
//                        ]\
//                    },\
//                    {\
//                        "ExperimentName": "2018-11-18",\
//                        "Properties": [\
//                            342,\
//                            969835972,\
//                            true,\
//                            342,\
//                            969835972,\
//                            true,\
//                            26,\
//                            248965\
//                        ]\
//                    },\
//                    {\
//                        "ExperimentName": "2018-11-19",\
//                        "Properties": [\
//                            342,\
//                            904516346,\
//                            true,\
//                            342,\
//                            904516346,\
//                            true,\
//                            29,\
//                            262843\
//                        ]\
//                    },\
//                    {\
//                        "ExperimentName": "2018-11-20",\
//                        "Properties": [\
//                            342,\
//                            945507696,\
//                            true,\
//                            342,\
//                            945507696,\
//                            true,\
//                            17,\
//                            189083\
//                        ]\
//                    },\
//                    {\
//                        "ExperimentName": "2018-11-21",\
//                        "Properties": [\
//                            342,\
//                            888875613,\
//                            true,\
//                            342,\
//                            888875613,\
//                            true,\
//                            18,\
//                            167694\
//                        ]\
//                    },\
//                    {\
//                        "ExperimentName": "2018-11-22",\
//                        "Properties": [\
//                            342,\
//                            880741883,\
//                            true,\
//                            342,\
//                            880741883,\
//                            true,\
//                            12,\
//                            136798\
//                        ]\
//                    },\
//                    {\
//                        "ExperimentName": "2018-11-23",\
//                        "Properties": [\
//                            342,\
//                            906555639,\
//                            true,\
//                            342,\
//                            906555639,\
//                            true,\
//                            14,\
//                            169532\
//                        ]\
//                    },\
//                    {\
//                        "ExperimentName": "2018-11-24",\
//                        "Properties": [\
//                            342,\
//                            836662286,\
//                            true,\
//                            342,\
//                            836662286,\
//                            true,\
//                            0,\
//                            0\
//                        ]\
//                    },\
//                    {\
//                        "ExperimentName": "2018-11-25",\
//                        "Properties": [\
//                            342,\
//                            912195538,\
//                            false,\
//                            0,\
//                            0,\
//                            false,\
//                            0,\
//                            0\
//                        ]\
//                    },\
//                    {\
//                        "ExperimentName": "2018-04-15",\
//                        "Properties": [\
//                            285,\
//                            826235162,\
//                            true,\
//                            285,\
//                            826235162,\
//                            true,\
//                            33,\
//                            351317\
//                        ]\
//                    },\
//                    {\
//                        "ExperimentName": "2018-04-16",\
//                        "Properties": [\
//                            627,\
//                            1948052748,\
//                            true,\
//                            627,\
//                            1948052748,\
//                            true,\
//                            12,\
//                            193079\
//                        ]\
//                    },\
//                    {\
//                        "ExperimentName": "2018-04-18",\
//                        "Properties": [\
//                            460,\
//                            1426445593,\
//                            true,\
//                            460,\
//                            1426445593,\
//                            true,\
//                            11,\
//                            112748\
//                        ]\
//                    },\
//                    {\
//                        "ExperimentName": "2018-04-19",\
//                        "Properties": [\
//                            627,\
//                            1907205155,\
//                            false,\
//                            0,\
//                            0,\
//                            false,\
//                            0,\
//                            0\
//                        ]\
//                    },\
//                    {\
//                        "ExperimentName": "2018-04-21",\
//                        "Properties": [\
//                            187,\
//                            520149355,\
//                            true,\
//                            187,\
//                            520149355,\
//                            true,\
//                            4,\
//                            39046\
//                        ]\
//                    },\
//                    {\
//                        "ExperimentName": "2018-04-22",\
//                        "Properties": [\
//                            285,\
//                            912636214,\
//                            true,\
//                            285,\
//                            912636214,\
//                            true,\
//                            5,\
//                            51859\
//                        ]\
//                    },\
//                    {\
//                        "ExperimentName": "2018-04-23",\
//                        "Properties": [\
//                            253,\
//                            801307642,\
//                            false,\
//                            0,\
//                            0,\
//                            false,\
//                            0,\
//                            0\
//                        ]\
//                    },\
//                    {\
//                        "ExperimentName": "2018-04-24",\
//                        "Properties": [\
//                            627,\
//                            1912851945,\
//                            false,\
//                            0,\
//                            0,\
//                            false,\
//                            0,\
//                            0\
//                        ]\
//                    },\
//                    {\
//                        "ExperimentName": "2018-04-25",\
//                        "Properties": [\
//                            379,\
//                            1259781000,\
//                            false,\
//                            0,\
//                            0,\
//                            false,\
//                            0,\
//                            0\
//                        ]\
//                    },\
//                    {\
//                        "ExperimentName": "2018-04-26",\
//                        "Properties": [\
//                            729,\
//                            2536608713,\
//                            false,\
//                            0,\
//                            0,\
//                            false,\
//                            0,\
//                            0\
//                        ]\
//                    }\
//                ]\
//        }\
//';

        var output = []; 
        $('#dynamicTable').empty();
        if (data) {
            console.log(data);
            var tp = $.parseJSON(data);
            if (tp) {
                console.log(tp);
                var elapsedTime = tp["elapsedTime"];
                $('#lblResult').html(elapsedTime);

                var result = tp["result"];
                console.log(result);
                if (result) {
                    for (var i = 0; i < result.length; i++) {
                        console.log(result[i]);
                        var experimentName = result[i]["ExperimentName"];
                        var Properties = result[i]["Properties"];

                        output.push('<tr>','<td>', experimentName, '</td>',
                            '<td>', Properties[0], '</td>',
                            '<td>', humanFileSize(Properties[1], true), '</td>',
                            '<td>', Properties[2],'</td>',
                            '<td>', Properties[3],'</td>',
                            '<td>', humanFileSize(Properties[4], true),'</td>',
                            '<td>', Properties[5],'</td>',
                            '<td>', Properties[6],'</td>',
                            '<td>', humanFileSize(Properties[7], true),'</td>', '</tr>');
                        
                    }
                }
            }
        }
        $('#dynamicTable').append(output.join(''));
        popElement();
        
    }

    function processDestinationFileData(data) {
        var output = [];
        $('#dynamicTable').empty();
        if (data) {
            console.log(data);
            var tp = $.parseJSON(data);
            if (tp) {
                console.log(tp);
                var elapsedTime = tp["elapsedTime"];
                $('#lblResult').html(elapsedTime);

                var result = tp["result"];
                console.log(result);
                if (result) {
                    for (var i = 0; i < result.length; i++) {
                        console.log(result[i]);
                        var experimentName = result[i]["ExperimentName"];
                        var Properties = result[i]["Properties"];
                        output.push('<tr>', '<td>', experimentName, '</td>',
                            '<td>', Properties[0], '</td>',
                            '<td>', Properties[1],     '</td>',
                            '<td>', humanFileSize(Properties[2], true), '</td>',
                            '<td>', Properties[3], '</td>',
                            '<td>', Properties[4], '</td>',
                            '<td>', humanFileSize(Properties[5], true), '</td>',
                            '<td>', '</td>',
                            '<td>', '</td>', '</tr>');

                    }
                }
            }
        }
        $('#dynamicTable').append(output.join(''));
        popElement();
    }


    function humanFileSize(bytes, si) {
        var thresh = si ? 1000 : 1024;
        if (Math.abs(bytes) < thresh) {
            return bytes + ' B';
        }
        var units = si
            ? ['kB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB']
            : ['KiB', 'MiB', 'GiB', 'TiB', 'PiB', 'EiB', 'ZiB', 'YiB'];
        var u = -1;
        do {
            bytes /= thresh;
            ++u;
        } while (Math.abs(bytes) >= thresh && u < units.length - 1);
        return bytes.toFixed(1) + ' ' + units[u];
    }

//        var account = document.getElementById('account').value;
//        var sas = document.getElementById('sas').value;
//        var fileShare = '';
//        var currentPath = '';
//        var fileUri = '';
//        var currentPath = [];

//            function checkParameters() {
//            account = document.getElementById('account').value;
//        sas = document.getElementById('sas').value;

//                if (account == null || account.length < 1)
//                {
//            alert('Please enter a valid storage account name!');
//        return false;
//    }
//                if (sas == null || sas.length < 1)
//                {
//            alert('Please enter a valid SAS Token!');
//        return false;
//    }

//    return true;
//}

//            function getFileService() {
//                if (!checkParameters())
//            return null;

//        fileUri = 'https://' + account + '.file.core.windows.net';
//        var fileService = AzureStorage.File.createFileServiceWithSas(fileUri, sas).withFilter(new AzureStorage.File.ExponentialRetryPolicyFilter());
//        return fileService;
//    }

//    function refreshFileShareList()
//            {
//                var fileService = getFileService();
//        if (!fileService)
//            return;

//        document.getElementById('result').innerHTML = 'Loading...';
//                fileService.listSharesSegmented(null, function (error, results) {
//                    if (error) {
//            alert('List file share error, please open browser console to view detailed error');
//        console.log(error);
//                    } else {
//                        var output = [];
//                        output.push('<tr>',
//                                        '<th>ShareName</th>',
//                                        '<th>ShareETag</th>',
//                                        '<th>ShareQuota</th>',
//                                        '<th>LastModified</th>',
//                                        '<th>Operations</th>',
//                                    '</tr>');
//                        if (results.entries.length < 1) {
//            output.push('<tr><td>Empty results...</td></tr>');
//        }
//                        for (var i = 0, share; share = results.entries[i]; i++) {
//            output.push('<tr>',
//                '<td>', share.name, '</td>',
//                '<td>', share.etag, '</td>',
//                '<td>', share.quota, '</td>',
//                '<td>', share.lastModified, '</td>',
//                '<td>', '<button class="btn btn-xs btn-danger" onclick="deleteFileShare(\'', share.name, '\')">Delete</button> ',
//                '<button class="btn btn-xs btn-success" onclick="viewFileShare(\'', share.name, '\')">Select</button>', '</td>',
//                '</tr>');
//        }
//                        document.getElementById('result').innerHTML = '<table class="table table-condensed table-bordered">' + output.join('') + '</table>';
//    }
//});
//}

//            function deleteFileShare(name) {
//                var fileService = getFileService();
//        if (!fileService)
//            return;

//                fileService.deleteShareIfExists(name, function(error, result){
//                    if (error) {
//            alert('Delete file share failed, open browser console for more detailed info.');
//        console.log(error);
//                    } else {
//            alert('Delete ' + name + ' successfully!');
//        refreshFileShareList();
//    }
//});
//}

//            function createFileShare() {
//                var fileService = getFileService();
//        if (!fileService)
//            return;

//        var share = document.getElementById('newfileshare').value;
//                if (!AzureStorage.File.Validate.shareNameIsValid(share, function(err, res){})) {
//            alert('Invalid share name!');
//        return;
//    }

//                fileService.createShareIfNotExists(share, function(error, result){
//                    if (error) {
//            alert('Create file share failed, open browser console for more detailed info.');
//        console.log(error);
//                    } else {
//            alert('Create ' + share + ' successfully!');
//        refreshFileShareList();
//    }
//});
//}

//            function viewFileShare(selectedFileShare) {
//            fileShare = selectedFileShare;
//        alert('Selected ' + fileShare + ' !');
//        currentPath = [];
//        refreshDirectoryFileList();
//    }

//            function backDirectory() {
//                var fileService = getFileService();
//        if (!fileService)
//            return;

//                if (fileShare.length < 1) {
//            alert('Please select one file share!');
//        return;
//    }

//    if (currentPath.length > 0)
//        currentPath.pop();

//    refreshDirectoryFileList();
//}

//function refreshDirectoryFileList(directory)
//            {
//                var fileService = getFileService();
//        if (!fileService)
//            return;

//                if (fileShare.length < 1) {
//            alert('Please select one file share!');
//        return;
//    }

//    if (typeof directory === 'undefined')
//        var directory = '';
//    if (directory.length > 0)
//        currentPath.push(directory);
//    directory = currentPath.join('\\\\');

//    document.getElementById('directoryFiles').innerHTML = 'Loading...';
//                fileService.listFilesAndDirectoriesSegmented(fileShare, directory, null, function (error, results) {
//                    if (error) {
//            alert('List directories and files error, please open browser console to view detailed error');
//        console.log(error);
//                    } else {
//            document.getElementById('path').innerHTML = directory;

//        var outputDirectory = [];
//                        outputDirectory.push('<tr>',
//                                        '<th>Type</th>',
//                                        '<th>Name</th>',
//                                        '<th>ContentLength</th>',
//                                        '<th>Operations</th>',
//                                    '</tr>');
//                        if (results.entries.directories.length < 1 && results.entries.files.length < 1) {
//            outputDirectory.push('<tr><td>Empty results...</td></tr>');
//        }
//                        for (var i = 0, dir; dir = results.entries.directories[i]; i++) {
//            outputDirectory.push('<tr>',
//                '<td>', 'DIR', '</td>',
//                '<td>', dir.name, '</td>',
//                '<td>', dir.contentLength, '</td>',
//                '<td>', '<button class="btn btn-xs btn-danger" onclick="deleteDirectory(\'', dir.name, '\')">Delete</button> ',
//                '<button class="btn btn-xs btn-success" onclick="refreshDirectoryFileList(\'', dir.name, '\')">View</button>', '</td>',
//                '</tr>');
//        }

//        var outputFiles = [];
//        var currentDir = currentPath.join('\\');
//        if (currentPath.length > 0)
//            currentDir += '/';

//                        for (var i = 0, file; file = results.entries.files[i]; i++) {
//            outputFiles.push('<tr>',
//                '<td>', 'FILE', '</td>',
//                '<td>', file.name, '</td>',
//                '<td>', file.contentLength, '</td>',
//                '<td>', '<button class="btn btn-xs btn-danger" onclick="deleteFile(\'', file.name, '\')">Delete</button> ',
//                '<a class="btn btn-xs btn-success" href="', fileUri + '/' + fileShare + '/' + currentDir + file.name + sas, '" download>Download</a>', '</td>',
//                '</tr>');
//        }
//                        document.getElementById('directoryFiles').innerHTML = '<table class="table table-condensed table-bordered">' + outputDirectory.join('') + outputFiles.join('') + '</table>';
//    }
//});
//}

//            function deleteDirectory(name) {
//                var fileService = getFileService();
//        if (!fileService)
//            return;
//                if (fileShare.length < 1) {
//            alert('Please select a file share!');
//        return;
//    }

//                fileService.deleteDirectoryIfExists(fileShare, currentPath.join('\\\\') + '\\' + name, function(error, results) {
//                    if (error) {
//            alert('Delete directory failed, open browser console for more detailed info.');
//        console.log(error);
//                    } else {
//            alert('Delete ' + name + ' successfully!');
//        refreshDirectoryFileList();
//    }
//});
//}

//            function deleteFile(file) {
//                var fileService = getFileService();
//        if (!fileService)
//            return;

//                fileService.deleteFileIfExists(fileShare, currentPath.join('\\\\'), file, function(error, results) {
//                    if (error) {
//            alert('Delete file failed, open browser console for more detailed info.');
//        console.log(error);
//                    } else {
//            alert('Delete ' + file + ' successfully!');
//        refreshDirectoryFileList();
//    }
//});
//}

//            function createDirectory() {
//                var fileService = getFileService();
//        if (!fileService)
//            return;

//        var directoryName = document.getElementById('newdirectory').value;
//                fileService.createDirectoryIfNotExists(fileShare, currentPath.join('\\\\') + '\\' + directoryName, function(error, results) {
//                    if (error) {
//            alert('Create directory failed, open browser console for more detailed info.');
//        console.log(error);
//                    } else {
//            alert('Create ' + directoryName + ' successfully!');
//        refreshDirectoryFileList();
//    }
//});
//}

//            function displayProcess(process) {
//            document.getElementById('progress').style.width = process + '%';
//        document.getElementById('progress').innerHTML = process + '%';
//    }

//            function createFileFromStream(checkMD5) {
//                var files = document.getElementById('files').files;
//                if (!files.length) {
//            alert('Please select a file!');
//        return;
//    }
//    var file = files[0];

//    var fileService = getFileService();
//    if (!fileService)
//        return;

//    var btn = document.getElementById("upload-button");
//    btn.disabled = true;
//    btn.innerHTML = "Uploading";
//    var finishedOrError = false;
//                var options = {
//            contentSettings: {
//            contentType: file.type
//    },
//    storeFileContentMD5 : checkMD5
//};

//                var speedSummary = fileService.createFileFromBrowserFile(fileShare, currentPath.join('\\\\'), file.name, file, options, function(error, result, response) {
//            finishedOrError = true;
//        btn.disabled = false;
//        btn.innerHTML = "Upload";
//                    if (error) {
//            alert("Upload failed, open browser console for more detailed info.");
//        console.log(error);
//        displayProcess(0);
//                    } else {
//            displayProcess(100);
//        setTimeout(function() { // Prevent alert from stopping UI progress update
//            alert('Upload successfully!');
//        }, 1000);
//        refreshDirectoryFileList();
//    }
//});

//                speedSummary.on('progress', function () {
//                    var process = speedSummary.getCompletePercent();
//        displayProcess(process);
//    });
//}





    </script>
    }


